.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 95%;

  &__symptoms-selector {
    display: flex;
    gap: 20px;
    padding: 20px;
  }

  &__unselected-symptoms,
  &__selected-symptoms {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  &__unselected-symptoms {
    max-height: 400px;
    overflow-y: scroll;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black
  }

  &__search-bar {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  &__symptoms {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__submit {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #14cf7b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  &__submit:hover {
    background-color: #00be69;
  }
  
  &__response {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 14px;
    width: 100%;
    color: black
  }

  &__prognoses {
    width: 100%;
  }

  &__next-symptom {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    flex-direction: column;

    &__unselected-symptoms,
    &__selected-symptoms {
      width: 100%;
    }
  }
}
